// 小窗口侧边栏
.layout-sider-small {
  .el-drawer__header {
    margin: 0;
    padding: 0px 8px 0px 8px;
  }
  .layout-title {
    height: 80px;
    box-shadow: 0 15px 10px -15px $shadow;
  }
  .el-drawer__body {
    padding: 8px 0 0 0;
  }
}

// 侧边菜单
.layout-sider,
.layout-sider-small {
  .el-menu {
    border-right: 0 !important;
  }
  .el-menu-item:hover {
    background-color: transparent !important;
    color: var(--el-color-primary);
  }
  .el-sub-menu__title:hover {
    background-color: transparent !important;
    color: var(--el-color-primary);
  }
  .el-menu-item.is-active {
    background-color: var(--el-menu-hover-bg-color);
    border-right: 2px solid var(--el-color-primary);
  }
  .el-menu-item.is-active:hover {
    background-color: var(--el-menu-hover-bg-color) !important;
  }
}

// 设置
.setting-drawer {
  .el-drawer__header {
    margin-bottom: 8px;
  }
  .el-drawer__body {
    padding: 8px 20px 20px 20px;
  }
  .setting-contont {
    font-size: 16px;
    margin: 8px 0;
  }
  .layout-select-content {
    border: 2px solid var(--el-border-color-light);
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
    padding: 1px 1px 2px 1px;
    display: table-cell;
  }
  .theme-color-selsct {
    height: 26px;
    width: 26px;
    padding: 2px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    cursor: pointer;
  }
  .theme-color-content {
    display: block;
    border: 1px solid #909399;
    border-radius: 2px;
    width: 24px;
    height: 24px;
  }
}
