/*
 * @Author: Jianxin Gu a18602467506@163.com
 * @Date: 2022-04-28 20:43:53
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2022-06-29 14:12:03
 * @Description: Antd Vue 样式修改
 */

// // breadcrumb
// .ant-breadcrumb {
//   &,
//   a,
//   span,
//   .ant-breadcrumb-separator {
//     color: var(--theme-header-text) !important;
//   }
// }

// // card
// .ant-card,
// .ant-input-affix-wrapper {
//   background-color: var(--theme-background-1) !important;
// }

// //drawer
// .ant-drawer-left .ant-drawer-body {
//   padding: 0 !important;
// }

// //model
// .ant-modal-header {
//   border-radius: 5px !important;
//   border-bottom: 1px solid var(--theme-border-1) !important;
// }
// .ant-modal-content {
//   border-radius: 5px !important;
// }
// .ant-modal-body {
//   padding: 12px 24px 4px 24px !important;
// }
// .ant-modal-footer {
//   border-top: 1px solid var(--theme-border-1) !important;
// }
// .ant-modal-confirm .ant-modal-body {
//   padding: 20px 20px 15px 20px !important;
// }

// //时间选择框
// .ant-calendar-picker {
//   width: 100%;
//   min-width: 0 !important;
// }

// .ant-calendar-picker-container-content {
//   width: 240px !important;
// }

// .ant-calendar-range {
//   width: 550px !important;
// }

// .ant-divider-horizontal {
//   margin: 8px !important;
// }

// // card
// .ant-card-head-title {
//   padding: 8px 0 !important;
// }

// .ant-card-body {
//   padding: 18px 24px 24px 24px !important;
// }

// // empty
// .ant-empty {
//   margin: 0 !important;
// }

// // theme-color
// .ant-tabs-ink-bar,
// .ant-switch-checked,
// .ant-menu-dark .ant-menu-item-selected,
// .ant-menu-dar .ant-menu-item:active,
// .ant-menu-dar .ant-menu-submenu-title:active,
// .ant-checkbox-checked .ant-checkbox-inner,
// .ant-checkbox-indeterminate .ant-checkbox-inner::after {
//   background-color: var(--theme-color-primary) !important;
// }

// .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover,
// .ant-radio-checked .ant-radio-inner,
// .ant-checkbox-checked .ant-checkbox-inner,
// .ant-checkbox-wrapper:hover .ant-checkbox-inner,
// .ant-pagination-item-active {
//   border-color: var(--theme-color-primary) !important;
// }

// .ant-tabs-tab-active,
// .ant-tabs-tab:hover,
// .ant-tabs-close-x:hover,
// .ant-pagination-item-active a {
//   color: var(--theme-color-primary) !important;
// }

// .ant-fullcalendar-fullscreen .ant-fullcalendar-today .ant-fullcalendar-date {
//   border-top-color: var(--theme-color-primary) !important;
// }

// // theme-menu-selsct
// .ant-tabs-tab-active,
// .ant-table-tbody,
// .ant-menu-light .ant-menu-item-selected,
// > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
//   background-color: var(--theme-menu-selsct) !important;
// }

// .ant-tree-node-content-wrapper:hover,
// .ant-tree li .ant-tree-node-content-wrapper:hover {
//   background-color: var(--theme-menu-selsct) !important;
// }

// .ant-table-tbody > tr.ant-table-row-selected td,
// .ant-table-tbody
//   > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
//   > td,
// .ant-fullcalendar-fullscreen .ant-fullcalendar-date:hover,
// .ant-fullcalendar-fullscreen
//   .ant-fullcalendar-selected-day
//   .ant-fullcalendar-date,
// .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
//   background: var(--theme-menu-selsct) !important;
// }

// // text
// .ant-table,
// .ant-pagination,
// .ant-empty-normal,
// .ant-form-item-label > label,
// .ant-tree-node-content-wrapper,
// .ant-table-thead > tr > th,
// .ant-menu-submenu-arrow,
// .ant-tree,
// .ant-modal-title,
// .ant-select,
// .ant-select-tree li .ant-select-tree-node-content-wrapper,
// .ant-upload.ant-upload-drag p.ant-upload-text,
// .ant-upload.ant-upload-drag p.ant-upload-hint,
// .ant-tabs,
// .ant-tabs-close-x,
// .ant-transfer-list-header,
// .ant-transfer,
// .ant-modal-confirm-body .ant-modal-confirm-title,
// .ant-modal-confirm-body .ant-modal-confirm-content,
// .ant-fullcalendar-value,
// .ant-fullcalendar,
// .ant-badge-status-text,
// .ant-card-head,
// .ant-pagination-prev .ant-pagination-item-link,
// .ant-pagination-next .ant-pagination-item-link {
//   color: var(--theme-text-1) !important;
// }

// //background
// .ant-modal-content,
// .ant-table,
// .ant-input,
// .ant-select-selector,
// .ant-table-placeholder,
// .ant-table-thead > tr > th,
// .ant-table-row-expand-icon,
// .ant-modal-header,
// .ant-select-dropdown,
// .ant-upload.ant-upload-drag,
// .ant-table-cell-fix-left,
// .ant-table-cell-fix-right,
// .ant-transfer-list-header,
// .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab,
// .ant-pagination-prev .ant-pagination-item-link,
// .ant-pagination-next .ant-pagination-item-link,
// .ant-pagination-item-active {
//   background-color: var(--theme-background-1) !important;
// }

// // border
// .ant-input-affix-wrapper,
// .ant-select-selector,
// .ant-input,
// .ant-table-row-expand-icon,
// .ant-card-bordered,
// .ant-transfer-list {
//   border: 1px solid var(--theme-border-1) !important;
// }

// .ant-table-placeholder {
//   border-top: 1px solid var(--theme-border-2) !important;
// }

// .ant-table-thead > tr > th,
// .ant-table-placeholder,
// .ant-table-tbody > tr > td,
// .ant-transfer-list-header {
//   border-bottom: 1px solid var(--theme-border-2) !important;
// }

// .ant-table-bordered.ant-table-empty .ant-table-placeholder {
//   border-left: 1px solid var(--theme-border-2) !important;
// }

// .ant-table-bordered .ant-table-thead > tr > th,
// .ant-table-bordered .ant-table-tbody > tr > td,
// .ant-table-bordered.ant-table-empty .ant-table-placeholder {
//   border-right: 1px solid var(--theme-border-2) !important;
// }

// .ant-table-bordered .ant-table-body > table {
//   border-top: 1px solid var(--theme-border-2) !important;
// }

// .ant-table-bordered .ant-table-body > table {
//   border-left: 1px solid var(--theme-border-2) !important;
// }

// .ant-input-affix-wrapper > input.ant-input {
//   border: none !important;
// }

// //card
// .ant-card {
//   color: var(--theme-text-1) !important;
// }

// button
.ant-btn {
  color: var(--theme-text-1) !important;
  background-color: var(--theme-background-1) !important;
  border: 1px solid var(--theme-border-1) !important;
}
.ant-btn:focus,
.ant-btn:hover {
  fill: var(--theme-color-5);
  color: var(--theme-color-5) !important;
  border-color: var(--theme-color-5) !important;
}
.ant-btn:active {
  fill: var(--theme-color-5);
  color: var(--theme-color-7) !important;
  border-color: var(--theme-color-7) !important;
}

.ant-btn-primary {
  color: var(--theme-text-2) !important;
  border-color: var(--theme-color-primary) !important;
  background-color: var(--theme-color-primary) !important;
}
.ant-btn-primary:focus,
.ant-btn-primary:hover {
  color: var(--theme-text-2) !important;
  border-color: var(--theme-color-5) !important;
  background-color: var(--theme-color-5) !important;
}
.ant-btn-primary:active {
  border-color: var(--theme-color-7) !important;
  background-color: var(--theme-color-7) !important;
}
.ant-btn-primary[disabled] {
  background: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
}
.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover {
  color: rgba(0, 0, 0, 0.25) !important;
  background: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
}

.ant-btn-dangerous {
  color: #ff4d4f !important;
}
.ant-btn-dangerous:hover,
.ant-btn-dangerous:focus {
  color: #ff7875 !important;
  border-color: #ff7875 !important;
  background-color: var(--theme-background-1) !important;
}
.ant-btn-dangerous:active {
  color: #d9363e !important;
  border-color: #d9363e !important;
  background-color: var(--theme-background-1) !important;
}

.ant-btn-text {
  background: transparent !important;
}
.ant-btn-text:hover,
.ant-btn-text:focus {
  color: var(--theme-text-1) !important;
  background: rgba(0, 0, 0, 0.018) !important;
  border-color: transparent !important;
}
.ant-btn-text:active {
  background: rgba(0, 0, 0, 0.028) !important;
  border-color: transparent !important;
}

.ant-btn-link {
  color: var(--theme-color-primary) !important;
  background: transparent !important;
}
.ant-btn-link:hover,
.ant-btn-link:focus {
  color: var(--theme-color-primary) !important;
  background: rgba(0, 0, 0, 0.018) !important;
  border-color: transparent !important;
}
.ant-btn-link:active {
  background: rgba(0, 0, 0, 0.028) !important;
  border-color: transparent !important;
}

.ant-btn-background-ghost {
  color: var(--theme-text-2) !important;
}

.ant-btn-dangerous.ant-btn-primary {
  color: var(--theme-text-2) !important;
  border-color: #ff7875 !important;
  background-color: #ff7875 !important;
}
.ant-btn-dangerous.ant-btn-primary:hover,
.ant-btn-dangerous.ant-btn-primary:focus {
  color: var(--theme-text-2) !important;
  background: #ffa39e !important;
  border-color: #ffa39e !important;
}
.ant-btn-dangerous.ant-btn-primary:active {
  color: var(--theme-text-2) !important;
  background: #d9595b !important;
  border-color: #d9595b !important;
}

.ant-btn-dangerous.ant-btn-text:hover,
.ant-btn-dangerous.ant-btn-text:focus {
  color: #ff4d4f !important;
}

.ant-btn-dangerous.ant-btn-link {
  color: #ff4d4f !important;
  border-color: transparent !important;
  background-color: transparent !important;
}

.ant-btn-background-ghost.ant-btn-dangerous {
  color: #ff4d4f !important;
}
.ant-btn-background-ghost.ant-btn-dangerous:active {
  color: #d9595b !important;
}

.ant-btn-background-ghost.ant-btn-primary {
  color: var(--theme-color-primary) !important;
  border-color: var(--theme-color-primary) !important;
  background-color: transparent !important;
}

.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
  color: rgba(0, 0, 0, 0.25) !important;
  background: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.ant-btn-text[disabled],
.ant-btn-text[disabled]:hover,
.ant-btn-text[disabled]:focus,
.ant-btn-text[disabled]:active {
  color: rgba(0, 0, 0, 0.25) !important;
  background: transparent !important;
  border-color: transparent !important;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn-link[disabled],
.ant-btn-link[disabled]:hover,
.ant-btn-link[disabled]:focus,
.ant-btn-link[disabled]:active {
  color: rgba(0, 0, 0, 0.25) !important;
  background: transparent !important;
  border-color: transparent !important;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn-background-ghost.ant-btn-dangerous[disabled],
.ant-btn-background-ghost.ant-btn-dangerous[disabled]:hover,
.ant-btn-background-ghost.ant-btn-dangerous[disabled]:focus,
.ant-btn-background-ghost.ant-btn-dangerous[disabled]:active {
  color: rgba(0, 0, 0, 0.25) !important;
  background: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

//layout
.ant-layout {
  background-color: var(--theme-background-border) !important;
}

.ant-layout-header {
  line-height: 50px !important;
  background: var(--theme-header) !important;
  .ant-menu {
    background: var(--theme-header) !important;
  }
  .ant-menu-horizontal {
    border-bottom: 1px solid var(--theme-header) !important;
  }
  .ant-menu,
  .ant-menu-item,
  .ant-menu-submenu {
    color: var(--theme-header-text) !important;
  }
  .ant-menu-item-selected,
  .ant-menu-light .ant-menu-item:hover,
  .ant-menu-light .ant-menu-item-active,
  .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-light .ant-menu-submenu-active,
  .ant-menu-light .ant-menu-submenu-title:hover {
    color: var(--theme-color-primary) !important;
  }
  .ant-menu-dark .ant-menu-item:hover {
    background-color: var(--theme-color-primary) !important;
  }
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: 2px solid var(--theme-color-primary) !important;
  }
}

.ant-layout-sider {
  background: var(--theme-sider) !important;
  .ant-menu {
    background: var(--theme-sider) !important;
  }
  .ant-menu-inline {
    border-right: 1px solid var(--theme-sider);
  }
  .ant-menu,
  .ant-menu-item,
  .ant-menu-submenu {
    color: var(--theme-sider-text) !important;
  }
  .ant-menu-item-selected,
  .ant-menu-light .ant-menu-item:hover,
  .ant-menu-light .ant-menu-item-active,
  .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-light .ant-menu-submenu-active,
  .ant-menu-light .ant-menu-submenu-title:hover {
    color: var(--theme-color-primary) !important;
  }
  .ant-menu-item-selected,
  .ant-menu-light .ant-menu-submenu-title:active {
    background-color: var(--theme-menu-selsct) !important;
  }
}

//menu
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid var(--theme-color-primary) !important;
}
.ant-menu-vertical {
  border-right: 3px solid var(--theme) !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  border-radius: 8px;
  width: 98% !important;
  margin-left: 2px;
}
.ant-menu-item,
.ant-menu-submenu-title {
  transition: none !important;
}
.ant-menu-submenu-placement-rightTop {
  .ant-menu {
    background: var(--theme-sider) !important;
  }
  .ant-menu,
  .ant-menu-item,
  .ant-menu-submenu {
    color: var(--theme-sider-text) !important;
  }
  .ant-menu-item-selected,
  .ant-menu-light .ant-menu-item:hover,
  .ant-menu-light .ant-menu-item-active,
  .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-light .ant-menu-submenu-active,
  .ant-menu-light .ant-menu-submenu-title:hover {
    color: var(--theme-color-primary) !important;
  }
  .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span,
  .ant-menu-dark .ant-menu-item-selected .anticon + span {
    color: var(--theme-color-primary) !important;
  }
}
.ant-menu-submenu-placement-bottomLeft {
  .ant-menu {
    background: var(--theme-header) !important;
  }
  .ant-menu,
  .ant-menu-item,
  .ant-menu-submenu {
    color: var(--theme-header-text) !important;
  }
  .ant-menu-item-selected,
  .ant-menu-light .ant-menu-item:hover,
  .ant-menu-light .ant-menu-item-active,
  .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-light .ant-menu-submenu-active,
  .ant-menu-light .ant-menu-submenu-title:hover {
    color: var(--theme-color-primary) !important;
  }
  .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span,
  .ant-menu-dark .ant-menu-item-selected .anticon + span {
    color: var(--theme-color-primary) !important;
  }
}
.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dar .ant-menu-item:active,
.ant-menu-dar .ant-menu-submenu-title:active {
  background-color: var(--theme-color-primary) !important;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: var(--theme-menu-selsct) !important;
}
.ant-menu-submenu-arrow {
  color: var(--theme-text-1) !important;
}

//input
.ant-input {
  color: var(--theme-text-1) !important;
  border: 1px solid var(--theme-border-1) !important;
  background-color: var(--theme-background-1) !important;
}

.ant-input-affix-wrapper {
  border: 1px solid var(--theme-border-1) !important;
  background-color: var(--theme-background-1) !important;
  .ant-input {
    border: none !important;
  }
}

.ant-input-prefix-wrapper,
.ant-input-affix-wrapper {
  color: var(--theme-text-1) !important;
}

.ant-input-group-addon {
  color: var(--theme-text-1) !important;
  border: 1px solid var(--theme-border-1) !important;
  background-color: var(--theme-background-2) !important;
}

.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
  border-color: var(--theme-color-primary) !important;
}

//select
.ant-select {
  color: var(--theme-text-1) !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--theme-background-1) !important;
  border: 1px solid var(--theme-border-1) !important;
}

.ant-select-clear {
  background: var(--theme-background-1) !important;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background: #f5f5f5 !important;
}

.ant-select-dropdown {
  background: var(--theme-background-3) !important;
}
// switch
.ant-switch-checked {
  background-color: var(--theme-color-primary) !important;
}

// card
.ant-card {
  color: var(--theme-text-1) !important;
  background-color: var(--theme-background-1) !important;
}
.ant-card-head {
  color: var(--theme-text-1) !important;
  border-bottom: 1px solid var(--theme-border-2) !important;
}
.ant-card-head-title {
  padding: 8px 0 !important;
}
.ant-card-extra {
  color: var(--theme-text-1) !important;
}
.ant-card-body {
  padding: 18px 24px 24px 24px !important;
}
.ant-card-bordered {
  border: 1px solid var(--theme-border-2) !important;
}
.ant-card-actions {
  border-top: 1px solid var(--theme-border-2) !important;
  background-color: var(--theme-background-1) !important;
}
.ant-card-actions li span {
  color: var(--theme-text-1) !important;
}

//tabs
.ant-tabs-tab:hover,
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active,
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: var(--theme-color-primary) !important;
}
.ant-tabs-ink-bar {
  background-color: var(--theme-color-primary) !important;
}
.ant-tabs-card .ant-tabs-tab-active {
  background-color: var(--theme-menu-selsct) !important;
}
.ant-tabs,
.ant-tabs-tab-remove {
  color: var(--theme-text-1) !important;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-nav-add {
  border: 1px solid var(--theme-border-2) !important;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-nav-add {
  background-color: var(--theme-background-1) !important;
}
.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 1px solid var(--theme-border-2) !important;
}
.ant-tabs-dropdown-menu {
  border: 1px solid var(--theme-border-2) !important;
  background-color: var(--theme-background-1) !important;
  .ant-tabs-dropdown-menu-item {
    color: var(--theme-text-1) !important;
  }
}
.ant-tabs-dropdown-menu-item:hover {
  color: var(--theme-color-primary) !important;
  background: var(--theme-background-2) !important;
}
.ant-tabs-dropdown-menu-item-remove {
  color: var(--theme-text-1) !important;
}

//tree
.ant-tree {
  background: transparent !important;
  color: var(--theme-text-1) !important;
}
